<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connectability">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/connectability"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- LoginActivity (Assumed Starting Activity) -->



        <!-- MainActivity (Main App Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- ActivityLoading (Loading Screen) -->
        <activity
            android:name=".ActivityLoading"
            android:exported="false" />

        <!-- Other Activities in the Application -->
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordRecoveryActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsActivity"
            android:exported="false" />

        <!-- Add any additional activities here -->

    </application>

</manifest>
